@import 'vars';
.error {
  width: 90%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--hospital-blue);
}

.error-title {
  font-size: var(--lg);
  font-weight: 700;
}
.error-btn a {
  color: var(--hospital-blue);
  font-size: var(--lg);
  text-align: center;
  text-decoration: none;
  margin-bottom: 52px;
  padding: 4px 8px;
  border: 1px solid var(--very-light-pink);
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.error-btn a:hover {
  background-color: var(--hospital-blue);
  color: var(--white);
  border: 1px solid var(--hospital-blue);
}

.error-img {
  height: 300px;
}